<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsapp_clone</title>
    <link rel="stylesheet" href="/static/home.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>
<body>   

    <div  class="nav">
        <div class="top-nav-left">
        <img  class="dp" src="/static/pictures/spiderman.jpg" alt=""><br>
        <h1>
        <iconify-icon icon="el:group"></iconify-icon>&nbsp;&nbsp;
        <iconify-icon icon="pajamas:status"></iconify-icon>&nbsp;&nbsp;
        <iconify-icon icon="majesticons:chat-status-line"></iconify-icon>&nbsp;&nbsp;
        <iconify-icon icon="ri:chat-new-fill"></iconify-icon>&nbsp;&nbsp;
        <iconify-icon icon="iconamoon:search-thin">
        <iconify-icon icon="pepicons-pop:dots-y"></iconify-icon></h1>
        </div>

        <div class="top-nav-right">
            <img  class="dp" src="/static/pictures/sergio.jpg" alt="">
            <span>
                
                <h2>selva</h2>
                <p class="h1" >Online</p>
            </span>
            <h1>
                <iconify-icon icon="iconamoon:search-thin"></iconify-icon>&nbsp;&nbsp;&nbsp;
                <iconify-icon icon="ic:baseline-phone"></iconify-icon>&nbsp;&nbsp;
                <iconify-icon icon="mdi:video"></iconify-icon>&nbsp;&nbsp;
                <iconify-icon icon="pepicons-pop:dots-y"></iconify-icon></h1>
       </div>
    </div>


<section> 
    
    <div class="container1">
        <div   class="contactlist">
            <img   class="contact-dp"  src="/static/pictures/sergio.jpg" alt="">
            <span>
                <br>
                <h3>selva</h3>
                <p  class="h1">Typing....</p>
                <br>
            </span>
            <small   class="h1">  <b>Online</b> </small>
        </div>
        <div   class="contactlist">
            <img   class="contact-dp"  src="/static/pictures/c.jpg" alt="">
            <span>
                <br>
                <h3>gurnaathan🥸</h3>
                <p  class="h2">done already</p>
                <br>
            </span><iconify-icon icon="charm:tick-double" style="color: blue;" width="19" height="19"></iconify-icon>
            <small  class="h2">9.00am</small>
        </div>
        <div   class="contactlist">
            <img   class="contact-dp"  src="/static/pictures/rose.jpg" alt="">
            <span>
                <br>
                <h3>ramesh</h3>
                <p  class="h2">ok bye!</p>
                <br>
            </span>&nbsp;&nbsp;&nbsp;
            <small  class="h2">10.00 pm</small>
        </div>
        <div   class="contactlist">
            <img   class="contact-dp"  src="/static/pictures/fire.jpg" alt="">
            <span>
                <br>
                <h3>shami🕵🏻‍♂️</h3>
                <p  class="h2">join again</p>
                <br>
            </span><iconify-icon icon="charm:tick-double" style="color: blue;" width="19" height="19"></iconify-icon>
            <small  class="h2">3.00 pm</small>
        </div>
        <div   class="contactlist">
            <img   class="contact-dp"  src="/static/pictures/butter.jpg" alt="">
            <span>
                <br>
                <h3>Arun</h3>
                <p  class="h2">ok carry on✌🏻</p>
                <br>
            </span><iconify-icon icon="charm:tick-double" style="color: blue;" width="19" height="19"></iconify-icon>
            <small  class="h2">1.00 pm</small>
        </div>
        <div   class="contactlist">
            <img   class="contact-dp"  src="/static/pictures/arr.jpg" alt="">
            <span>
                <br>
                <h3>kavin hr</h3>
                <p  class="h2">Thank you sir</p>
                <br>
            </span><iconify-icon icon="charm:tick-double" style="color: blue;" width="19" height="19"></iconify-icon>
            <small  class="h2">9.00 am</small>
        </div>
        <div   class="contactlist">
            <img   class="contact-dp"  src="/static/pictures/ani.jpg" alt="">
            <span>
                <br>
                <h3>harish</h3>
                <p  class="h2">happy birthday 🥳🥳</p>
                <br>
            </span>
            <small  class="h2">8.00 pm</small>
        </div>
       </div>
        
        <div class="container2">
            <p  class="today">  Today   </p>
            {%for i in data_col%}
              
            {%if i.name == 'selva'%}
            
            <p  class="receiver"> 
                <small>
            <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon></a>&nbsp;{{i.msg}} &nbsp;&nbsp;&nbsp;&nbsp; </small>  
        </p>
            {%elif i.name == 'jefin'%}
              
            <p  class="sender">
                <button  class="hover-btn-sender" > <a href="{{url_for('delete',id=loop.index)}}">delete</a></button>  
            <small   class="smalll">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{i.msg}} &nbsp;
                 <iconify-icon icon="charm:tick-double" style="color: gray;"></iconify-icon>
                <iconify-icon icon="iconoir:nav-arrow-down"></iconify-icon></small> </p>
            {%endif%}
            {%endfor%}
             
        </div>  
</section>
<div  class="foot">
    <div class="top-nav-left">

    <h1><iconify-icon icon="logos:whatsapp-icon"></iconify-icon>
      <small ><small> Get whatsapp for windows</small></small> </h1>
    </div>
    <div class="top-nav-right">
        <h1>
            <iconify-icon icon="ph:plus-light"></iconify-icon>
          </h1>
          <form method="post">
            <h1  ><iconify-icon icon="pajamas:smile"></iconify-icon></h1>
            
            <input type="text"   placeholder="Type  a  message"   value="{{id_data.msg}}" name="msg">
            <button class="h1"><iconify-icon icon="cib:telegram-plane"></iconify-icon></button>
        </form>
   </div>
</div>


</body>
</html>



